name: CodeQL

on:
  push:
    branches:
    - master
    paths-ignore:
    - '**.png'
    - '**.md'
  pull_request:
    branches:
    - master
    paths-ignore:
    - '**.png'
    - '**.md'
  schedule:
  - cron: '0 10 * * 0'

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: github/codeql-action/init@v3
      with:
        languages: go
    - uses: github/codeql-action/autobuild@v3
    - uses: github/codeql-action/analyze@v3
